
.projName{
  margin-top: 5vh;
  margin-left: 1em;
  font-family: Helvetica;
  font-size: 2em;
}

.explanation{
  margin-top: 1vh;
  margin-left: 1em;
  font-family: Helvetica;
  font-size: 1em;
}

canvas{
  margin-top: 20vh;
  margin-left: 10vh;
  border: 5px solid black;


}

.spin{
  animation: rotation 25s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
